<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.sky.mapper.EmployeeMapper">

    <select id="pageFind" resultType="com.sky.entity.Employee">
        select * from employee 
        <where>
            <if test="name != null and name != ''">
                and name like concat('%',#{name},'%')
            </if>
        </where>
        order by create_time desc
    </select>

    <update id="update" parameterType="Employee">
        update employee
        <set><if test="name != null">name = #{name},</if></set>
        <set><if test="username != null">username = #{username},</if></set>
        <set><if test="password != null">password = #{password},</if></set>
        <set><if test="phone != null">phone = #{phone},</if></set>
        <set><if test="sex != null">sex = #{sex},</if></set>
        <set><if test="idNumber != null">id_number = #{idNumber},</if></set>
        <set><if test="status != null">status = #{status},</if></set>
        <set><if test="updateTime != null">update_time = #{updateTime},</if></set>
        <set><if test="updateUser != null">update_user = #{updateUser},</if></set>
        <where>id = #{id}</where>
    </update>
</mapper>
